.sideBarSelectedItem {
  border-radius: 8px;
  background: linear-gradient(90deg, #e4e6e7 0%, #e4e6e7 100%);
  padding: 7px 28px 7px 28px;
  color: #0A0A0A !important;
}
.sideBarItem {
  padding: 7px 28px 7px 28px;
  display: flex;
  gap: 8px;
  align-items: center;
  color: #7d7d7d;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.182px;
  .svg {
    width: 12px;
    height: 12px;
  }
}

.sidebar {
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #0a0a0a;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.182px;
  height: calc(100vh - 75px);
  margin-right: 16px;
}


.container-wrapper {
    display: flex;
}