.containerWrapper{
  width: 100%;
  height: 100%;
  display: flex;
}

.pageContainer{
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  padding-left: 48px;
  padding-right: 48px;
  height: calc(100vh - 75px);
  overflow-y: scroll;
}