.base-text {
  margin: 0;
  padding: 0;
}

/* Font style variants */
.base-text--font-style-normal {
  font-style: normal;
}

.base-text--font-style-italic {
  font-style: italic;
}

/* Text decoration variants */
.base-text--text-decoration-none {
  text-decoration-line: none;
}

.base-text--text-decoration-underline {
  text-decoration-line: underline;
}

.base-text--text-decoration-line-through {
  text-decoration-line: line-through;
}

/* Text align variants */
.base-text--text-align-left {
  text-align: left;
}

.base-text--text-align-center {
  text-align: center;
}

.base-text--text-align-right {
  text-align: right;
}

.base-text--text-align-justify {
  text-align: justify;
}

/* Text transform variants */
.base-text--text-transform-none {
  text-transform: none;
}

.base-text--text-transform-capitalize {
  text-transform: capitalize;
}

.base-text--text-transform-uppercase {
  text-transform: uppercase;
}

.base-text--text-transform-lowercase {
  text-transform: lowercase;
}

.base-text--text-transform-full-width {
  text-transform: full-width;
}

.base-text--text-transform-full-size-kana {
  text-transform: full-size-kana;
}

/* Word break variants */
.base-text--word-break-normal {
  word-break: normal;
}

.base-text--word-break-break-all {
  word-break: break-all;
}

.base-text--word-break-keep-all {
  word-break: keep-all;
}

.base-text--word-break-break-word {
  word-break: break-word;
}

/* Font size variants - using CSS variables */
.base-text--font-size-25 {
  font-size: var(--font-size-25);
}

.base-text--font-size-50 {
  font-size: var(--font-size-50);
}

.base-text--font-size-75 {
  font-size: var(--font-size-75);
}

.base-text--font-size-100 {
  font-size: var(--font-size-100);
}

.base-text--font-size-200 {
  font-size: var(--font-size-200);
}

.base-text--font-size-300 {
  font-size: var(--font-size-300);
}

.base-text--font-size-400 {
  font-size: var(--font-size-400);
}

.base-text--font-size-500 {
  font-size: var(--font-size-500);
}

.base-text--font-size-600 {
  font-size: var(--font-size-600);
}

.base-text--font-size-700 {
  font-size: var(--font-size-700);
}

.base-text--font-size-800 {
  font-size: var(--font-size-800);
}

.base-text--font-size-900 {
  font-size: var(--font-size-900);
}

.base-text--font-size-1000 {
  font-size: var(--font-size-1000);
}

.base-text--font-size-1100 {
  font-size: var(--font-size-1100);
}

/* Line height variants - using CSS variables */
.base-text--line-height-0 {
  line-height: var(--line-height-0);
}

.base-text--line-height-25 {
  line-height: var(--line-height-25);
}

.base-text--line-height-50 {
  line-height: var(--line-height-50);
}

.base-text--line-height-75 {
  line-height: var(--line-height-75);
}

.base-text--line-height-100 {
  line-height: var(--line-height-100);
}

.base-text--line-height-200 {
  line-height: var(--line-height-200);
}

.base-text--line-height-300 {
  line-height: var(--line-height-300);
}

.base-text--line-height-400 {
  line-height: var(--line-height-400);
}

.base-text--line-height-500 {
  line-height: var(--line-height-500);
}

.base-text--line-height-600 {
  line-height: var(--line-height-600);
}

.base-text--line-height-700 {
  line-height: var(--line-height-700);
}

.base-text--line-height-800 {
  line-height: var(--line-height-800);
}

.base-text--line-height-900 {
  line-height: var(--line-height-900);
}

.base-text--line-height-1000 {
  line-height: var(--line-height-1000);
}

.base-text--line-height-1100 {
  line-height: var(--line-height-1100);
}

/* Font weight variants - using CSS variables */
.base-text--font-weight-regular {
  font-weight: var(--font-weight-regular);
}

.base-text--font-weight-medium {
  font-weight: var(--font-weight-medium);
}

.base-text--font-weight-semibold {
  font-weight: var(--font-weight-semibold);
}

.base-text--font-weight-bold {
  font-weight: var(--font-weight-bold);
}

/* Font family variants - using CSS variables */
.base-text--font-family-text {
  font-family: var(--font-family-text);
}

/* Color variants - using CSS variables */
/* Note: We use a data attribute approach for colors since there are many possible color tokens */
/* The color will be set via inline style with CSS variable, but we can add common ones as classes */
.base-text--color-current {
  color: currentColor;
}

