.Checkbox {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.25rem;
  background-color: #fff;
  cursor: pointer;
  margin-right: 0.5em;
}

.CheckboxContainer {
  display: flex;
  align-items: center;
}
