body {
  padding: 1em;
  margin: 0;
  font-family: sans-serif;
  background-color: #111;
  color: #efefef;
  font-size: 14px;
}

.section__actions {
  display: flex;
  justify-content: flex-end;
}

.section__actions > * {
  margin-left: 1em;
}

.button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.25em;
  background-color: #333;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.button-primary {
  background-color: #0078d7;
}

.button:hover,
.button:active {
  background-color: #555;
}

.button-primary:hover,
.button-primary:active {
  background-color: #0096f6;
}

.button:active {
  transform: translateY(1px);
}
