.base {
  padding: var(--spacing-0) var(--spacing-2);
  border-radius: var(--border-radius-medium);
  display: inline-block;
  vertical-align: middle;
  line-height: var(--line-height-0);
}

.highlighted {
  background-color: var(--feedback-background-neutral-subtle);
}

