.overviewSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.overviewTitle {
  color: #0a0a0a;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.528px;
}
.overviewSubTitle {
  color: #7d7d7d;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.156px;
  margin-left: 8px;
}
.refreshIcon {
  margin-left: 6px;
  display: flex;
  align-items: center;
}

.sideHeading {
  color: #0a0a0a;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.156px;
}

.mainHeading {
  display: flex;
  align-items: center;
}

.overviewCardContainer {
  margin-top: 16px;
}

.mainWrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto;
  gap: 0;
  border-radius: 12px 12px 12px 12px;
  border: 1px solid #e4e6e7;
  border-radius: 12px 12px 12px 12px;
  border: 1px solid #e4e6e7;

  background: linear-gradient(
    180deg,
    #fafafb 0%,
    #fff 27.73%,
    #fff 71.79%,
    #f7f7f8 100%
  );
}

.settlementCardDivider {
  width: 1px;
  background-color: #ff0000;
  grid-row: 1 / -1;
  align-self: stretch;
  margin: 0;
}

.settlementCardContainer {
  display: flex;
  .divider {
    height: 100%;
    width: 1px;
    background-color: #e4e6e7;
    border: none;
    margin: 0px;
    padding: 0px;
  }
  .circularDivider {
    border-radius: 12px;
  }
  .settlementCard {
    margin: 20px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 190px;
  }
  .settlementCardTextContainer {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .settlementCardText {
    color: #0a0a0a;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.182px;
  }
  .rupeeValue {
    color: #0a0a0a;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.66px;
  }
  .rupeeValueContainer {
    display: flex;
    flex-direction: column;
  }
  .rupeeValueText {
    color: #7d7d7d;
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.156px;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
  .disabled {
    color: #7d7d7d;
  }
  .otherCard {
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    width: 190px;
    gap: 16px;
    .title {
      color: #0a0a0a;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.182px;
      text-decoration-line: underline;
      text-decoration-style: dotted;
      text-decoration-skip-ink: auto;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
    }
    .subText {
      color: #0a0a0a;
      font-family: Inter;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.924px;
    }
  }
}


.containerCardWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 12px 12px 12px 12px;
  border: 1px solid #e4e6e7;
  width: 100%;
  background: linear-gradient(
    180deg,
    #fafafb 0%,
    #fff 27.73%,
    #fff 71.79%,
    #f7f7f8 100%
  );

  box-shadow: 0 6px 32px 4px rgba(184, 196, 214, 0.06),
    0 -1px 0 1px #fff inset, 0 1px 0 1px #fff inset;
}