.base-link {
  padding: 0;
  background-color: transparent;
  outline: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: var(--border-radius-small);
  transition-property: box-shadow, color, fill;
  transition-timing-function: var(--motion-easing-standard);
  transition-duration: var(--motion-duration-2xquick);
}

/* Focus ring is handled by utility class in theme.css */

.base-link[disabled] {
  cursor: not-allowed;
}

.base-link__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  border-radius: var(--border-radius-small);
}

.base-link__icon {
  display: flex;
  align-items: center;
}

.base-link__text {
  font-weight: var(--font-weight-medium);
  text-align: center;
  transition-property: color, fill;
  transition-timing-function: var(--motion-easing-standard);
  transition-duration: var(--motion-duration-2xquick);
}

/* TODO: Will migrate it to Text Component once we have typegraphy in place */
.base-link__text--xsmall {
  font-size: var(--font-size-25);
  line-height: var(--line-height-25);
}

.base-link__text--small {
  font-size: var(--font-size-75);
  line-height: var(--line-height-75);
}

.base-link__text--medium {
  font-size: var(--font-size-100);
  line-height: var(--line-height-100);
}

.base-link__text--large {
  font-size: var(--font-size-200);
  line-height: var(--line-height-200);
}

.base-link--text--underline {
  text-decoration: underline;
}
