.Container {
  position: relative;
}

.Icon {
  height: 16px;
  width: 16px;
}

.CopyButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px !important;
  margin-top: 0.5em;
  margin-right: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8a8a8a !important;
  height: 36px;
  width: 36px;
}

.CopyButton:hover {
  color: #a8a8a8 !important;
}

.Pre {
  min-height: 48px;
}
