.glassPill {
  display: flex;
  padding: 8px 16px 8px 12px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 24px;
  border: 1px solid #fff;
  background: linear-gradient(
      223deg,
      rgba(255, 255, 255, 0) 10.21%,
      rgba(255, 255, 255, 0.8) 41.56%
    ),
    rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.6) inset;
}
.glassPillText {
  color: #0a0a0a;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal !important;
  letter-spacing: -0.182px !important;
}

.icon {
  svg {
    width: 16px;
    height: 16px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}
