* {
  /* Need this to ensure mdx stories don't break visually */
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  -webkit-font-smoothing: unset !important;
  -moz-osx-font-smoothing: unset !important;
}

pre {
  max-width: 100ch;
}
