name: Blade Interaction Tests

# Runs the action when
# 1. 'Run Interaction Tests' label is added to PR
# 2. Workflow is trigerred manually
# 3. PR is merged to master
# 4. Any commit is pushed or merged


on:
  workflow_dispatch:
  pull_request:
    types: [labeled]
  push:
    branches:
      - 'master'
env:
  GITHUB_ACCESS_TOKEN: ${{ secrets.CI_BOT_TOKEN }}

jobs:
  interaction-tests:
    name: Run Interaction Tests
    runs-on: ubuntu-latest # nosemgrep: non-self-hosted-runner
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.label.name == 'Run Interaction Tests' || github.event_name == 'push' }}
    steps:
      - name: Checkout Codebase
        uses: actions/checkout@v3
      - name: Use Node v18
        uses: actions/setup-node@v3
        with:
          node-version: 18.12.1
      - name: Setup Cache & Install Dependencies
        uses: ./.github/actions/install-dependencies
      - name: Install Playwright Dependencies Manually
        run: |
          sudo apt-get update
          sudo apt-get install -y libasound2t64 libffi8 libx264-dev
      - name: Run Interaction Tests
        run: |
          npx playwright install chromium firefox --with-deps
          yarn test:react:interaction:ci
        working-directory: packages/blade
