name: Blade Validate

on: [pull_request]

env:
  GITHUB_ACCESS_TOKEN: ${{ secrets.CI_BOT_TOKEN }}

jobs:
  lint:
    name: Validate Source Code
    runs-on: ubuntu-latest # nosemgrep: non-self-hosted-runner
    steps:
      - name: Checkout Codebase
        uses: actions/checkout@v3
      - name: Use Node v18
        uses: actions/setup-node@v3
        with:
          node-version: 18.12.1
      - name: Setup Cache & Install Dependencies
        uses: ./.github/actions/install-dependencies
      - name: Build Blade
        run: yarn build
        working-directory: packages/blade
      - name: Lint Source Code
        run: yarn lint
      - name: Run TypeScript Checks
        run: yarn typecheck
        working-directory: packages/blade
      - name: Run Web & Native Tests
        run: yarn test
        working-directory: packages/blade
      - name: Check Bundle Size
        run: yarn bundlemon
        working-directory: packages/blade
        env:
          CI_COMMIT_SHA: ${{github.event.pull_request.head.sha || github.sha}}
      - name: Check Tree Shaking
        run: yarn size-limit
        working-directory: packages/blade

  test:
    name: Run Tests (${{ matrix.shard }})
    runs-on: ubuntu-latest # nosemgrep: non-self-hosted-runner
    strategy:
      matrix:
        shard: [1/4, 2/4, 3/4, 4/4]
    steps:
      - name: Checkout Codebase
        uses: actions/checkout@v3
      - name: Use Node v18
        uses: actions/setup-node@v3
        with:
          node-version: 18.12.1
      - name: Setup Cache & Install Dependencies
        uses: ./.github/actions/install-dependencies
      - name: Build Blade
        run: yarn build
        working-directory: packages/blade
      - name: Run React Tests
        run: yarn test:react --ci --shard=${{ matrix.shard }}
      - name: Run React Native Tests
        run: yarn test:react --ci --shard=${{ matrix.shard }}
