name: Blade Release

on:
  workflow_dispatch:
  push:
    branches: [master]

env:
  GITHUB_ACCESS_TOKEN: ${{ secrets.CI_BOT_TOKEN }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest # nosemgrep: non-self-hosted-runner
    steps:
      - name: Checkout Codebase
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Use Node v14
        uses: actions/setup-node@v1
        with:
          node-version: 18.12.1
      - name: Setup Cache & Install Dependencies
        uses: bahmutov/npm-install@v1
        with:
          install-command: yarn --frozen-lockfile
      - name: Create Release Pull Request & Publish packages
        id: changesets
        uses: changesets/action@v1
        if: github.event_name != 'workflow_dispatch' # only run on master merges
        env:
          GITHUB_TOKEN: ${{ secrets.CI_BOT_TOKEN }}
        with:
          publish: yarn release
          commit: 'build(blade): update version'
          title: 'build(blade): update version'
      - name: Publish to public npm registry
        if: steps.changesets.outputs.published == 'true' || github.event_name == 'workflow_dispatch' # run when the package is published via changeset or if a release is triggered manually.
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: yarn publish-npm
      - name: Build Blade if not built by changeset
        if: steps.changesets.outputs.published == 'false'
        working-directory: packages/blade
        run: yarn build
      - name: Run & store bundle metadata
        run: yarn bundlemon
        working-directory: packages/blade

          
